body {
  font-family: 'Open Sans', 'sans-serif';
  color: $medium-gray;
}

strong {
  font-weight: 600;
}

.main-container {
  padding: 90px 210px 30px 510px;
}

.container {
  padding-bottom: 40px;
}

.api-container--centered {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__heading {
  font-size: 18px;
  padding-bottom: 15px;

  strong {
    color: $dark-gray;
    margin-right: 5px;
    border-bottom: 2px dotted $gray;
  }
}