.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-bottom: 2px solid $medium-gray;
  background: $white;
  z-index: 10;
}

.header__nav-icon {
  flex-basis: 270px;

  .fa {
    font-size: 24px;
    color: $dark-gray;
  }
}

.header__nav {
  flex-grow: 1;
}

.header__list {
  display: flex;
  justify-content: center;
  padding-top: 32px;

  .list__item {
    text-align: center;
    flex-basis: 25%;
    margin: 0 30px;
  }

  .list__link {
    padding-bottom: 10px;
    font-weight: bold;
    color: $medium-gray;

    &.active {
      border-bottom: 3px solid $dark-gray;
      color: $dark-gray;
    }
  }
}



