.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-bottom: 2px solid $light-gray;
}

.header__nav-icon {
  flex-basis: 270px;

  img {
    height: 20px;
    width: 20px;
  }
}

.header__nav {
  flex-grow: 1;
}

.header__list {
  display: flex;
  justify-content: space-around;
  padding-top: 32px;

  .list__item {
    text-align: center;
    flex-basis: 25%;
  }

  .list__link {
    padding-bottom: 10px;
    font-weight: bold;
    color: $light-gray;

    &.active {
      border-bottom: 3px solid $dark-gray;
      color: $dark-gray;
    }
  }
}



