.nav {
  position: fixed;
  margin-top: 60px;
  width: 300px;
  height: 100%;
  border-right: 1px solid $light-gray;
  color: $medium-gray;

  .panel {
    border-bottom: 1px solid $light-gray;
  }

  a {
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding: 20px 20px 20px 30px;
    color: $medium-gray;
    font-weight: bold;

    &[aria-selected=true] {
      color: $dark-gray;
    }
  }

  .list__link {
    padding: 15px 20px 15px 30px;
    font-weight: normal;

    &.active {
      color: $dark-gray;
    }
  }
}

.nav__sub-list {
  font-weight: normal;
}