.pull-right {
  float: right;
}

.collapse {
  display: none;

  &.in {
    display: block;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: .35s;
  transition-timing-function: ease;
}

.loader {
  .fa {
    color: $dark-gray;
    font-size: 24px;
    animation: rotating 2s linear infinite;
  }
}

.key-value-container {
  display: flex;

  .key-value:first-child {
    text-align: left;
    border-right: 2px dotted $medium-gray;
    flex-basis: 16%;

    .key {
      padding-bottom: 0;
    }
  }
}

.key-value {
  text-align: center;
  flex-basis: 20%;
}

.key {
  font-size: 12px;
  padding-bottom: 5px;
  color: $gray;
  font-weight: 600;
}

.value {
  font-size: 20px;
  font-weight: bold;
  color: $dark-gray;
}

.link-back {
  display: inline-block;
  padding-bottom: 50px;
  color: $dark-gray;
  text-decoration: none;

  .fa {
    padding-right: 8px;
  }
}

.flex-row {
  display: flex;
}

.flex-row__item {
  flex: 1;
  padding-right: 30px;
}

.pi {
  .fa {
    font-size: 20px;
  }

  .fa-arrow-up {
    color: $green;
  }

  .fa-arrow-down {
    color: $red;
  }
}

.asset-value {
  display: inline-block;
  width: 60px;
}

.btn-label {
  padding: 5px 0;
  width: 100px;
  text-align: center;
  margin: 10px 10px 10px 0;
  display: inline-block;
  color: $white;
}

.btn-label--sell {
  background-color: $red;
}

.btn-label--buy {
  background-color: $green;
}

.text-small {
  font-size: 12px;
}

.news {
  padding-top: 10px;
  align-items: center;

  .flex-row__item {
    padding-right: 0;

    &:first-child {
      border-bottom: 1px solid $light-gray;
      flex: 4;
    }
  }
}

.news__title {
  font-weight: 600;
  padding-bottom: 8px;
}

.news__description {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 10px;
}